python-dotenv
autogen
langgraph
typer[all]
requests
google-auth
protobuf
sktime
scikit-learn
flask>=3.0.0
apscheduler
prometheus-client
pytest
pytest-playwright
uvicorn
fastapi
psycopg2-binary
sktime
wittgenstein
loguru
